body {
    background-color: #171b1c;
    color: #dacfc1;
}

h1 {
    font-family: 'Tilt Warp', cursive;
}

.nav-link:hover {
    color: #e83e8c;
}

.div-img img {
    width: 40px;
    border-radius: 10px;
}

.div-img {
    padding: 20px;
    border: 3px solid;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#home {
    background-image: url('./images/homebg.jpeg');
    height: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#bio {
    padding: 60px;
}